main.page-main
  .navbar
    .container

  .container
    aside.sidebar
      nav.categories
        ul.categories__list
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Clothing
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Electronics
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Shoes
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i> Watches
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Jewellery
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Health and Beauty
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Kids and Babies
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Sports
          li.categories__item: a(href="#") <i class="icon  icon-play-circled2"></i>Home and Garden
      .slider
        header.slider__header
          h2.slider__title Hot Deals
          .slider__controls
            button.slider__btn.slider__btn--active(type="button")
            button.slider__btn(type="button")
        article.product
          .product__img
            img(src="http://placehold.it/250x200")
          h2.product__title lorem ipsum dolor
          .product__price(data-sale="$100.00") $90.00
          .product__raiting
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star-empty
      .slider
        header.slider__header
          h2.slider__title Special Deal
          .slider__controls
            button.slider__btn.slider__btn--active(type="button")
            button.slider__btn(type="button")
        article.product
          .product__img
            img(src="http://placehold.it/250x200")
          h2.product__title lorem ipsum dolor
          .product__price(data-sale="$100.00") $90.00
          .product__raiting
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star-empty
      .subscribe
        h2.subscribe__title Newsletters
        form(action="/" method="POST")
          label(for="subscribe") Sign Up for Our Newsletter!
          input(class="subscribe__field" id="subscribe" type="text" name="email")
          button(type="button" class="btn btn--medium") Subscribe
      .banner
        img(src="http://placehold.it/300x440")
    .content
      article.promo        
        header
          .promo__left-col
            h2.promo__title Collection 2016
            h3.promo__subtitle Save 50% For
            p First purshase
            button.btn.btn--shop Shop Now
        .promo__bottom
          .promo__feature
            h3 Money Back
            span 30 Days Money Back Guarantee
          .promo__feature
            h3 Free Shiping
            span Shiping on orders over $99
          .promo__feature
            h3 Special Sale
            span Extra $5 off on all items    
      .new-products.slider
        header.slider__header
          h2.slider__title New Products
          .slider__controls
            button.slider__btn.slider__btn--prev.slider__btn--active(type="button")
            button.slider__btn.slider__btn--next(type="button")
        .slider__container
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
      section.banners
        .banner
          a(href="#")
            img(src="img/banner-1.jpg")        
        .banner
          a(href="#")
            img(src="img/banner-2.jpg")
      .last-products.slider
        header.slider__header
          h2.slider__title Last Products
          .slider__controls
            button.slider__btn.slider__btn--prev.slider__btn--active(type="button")
            button.slider__btn.slider__btn--next(type="button")
        .slider__container
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
      section.banners
        .banner.banner--fullwidth
          .banner__img
            img(src="img/banner-3.jpg")
          .banner__decription
            h2.banner__title Beautiful Laptop
            h3.banner__subtitle Retina Display 18" Ready!
            a.btn.btn--medium Shop Now

      .featured-products.slider
        header.slider__header
          h2.slider__title Featured Products
          .slider__controls
            button.slider__btn.slider__btn--prev.slider__btn--active(type="button")
            button.slider__btn.slider__btn--next(type="button")
        .slider__container
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
          .slider__item
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
            article.product.product--small
              .product__img
                img(src="http://placehold.it/180x200")
              h2.product__title lorem ipsum dolor
              .product__price(data-sale="$100.00") $90.00
              .product__raiting
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star-empty
  section.logos
    .container
      ul.logos__list
        li.logos__item
          img(src="img/brand-logos/logo-1.png" width="111" height="77" alt="logo")
        li.logos__item
          img(src="img/brand-logos/logo-2.png" width="111" height="77" alt="logo")
        li.logos__item
          img(src="img/brand-logos/logo-3.png" width="111" height="77" alt="logo")
        li.logos__item
          img(src="img/brand-logos/logo-4.png" width="111" height="77" alt="logo")
        li.logos__item
          img(src="img/brand-logos/logo-5.png" width="111" height="77" alt="logo")
        li.logos__item
          img(src="img/brand-logos/logo-1.png" width="111" height="77" alt="logo")