main.page-main
  .container
    aside.sidebar
      nav.categories
        ul.categories__list
          li.categories__item Clothing
          li.categories__item Electronics
          li.categories__item Shoes
          li.categories__item Watches
          li.categories__item Jewellery
          li.categories__item Health and Beauty
          li.categories__item Kids and Babies
          li.categories__item Sports
          li.categories__item Home and Garden
      .slider
        header.slider__header
          h2.slider__title Hot Deals
          .slider__controls
            button.slider__btn.slider__btn--active(type="button")

            button.slider__btn(type="button")

        article.product
          .product__img
            img(src="http://placehold.it/250x200")
          h2.product__title lorem ipsum dolor
          .product__price(data-sale="$100.00") $90.00
          .product__raiting
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star-empty
      .slider
        header.slider__header
          h2.slider__title Special Deal
          .slider__controls
            button.slider__btn.slider__btn--active(type="button")
            button.slider__btn(type="button")
        article.product
          .product__img
            img(src="http://placehold.it/250x200")
          h2.product__title lorem ipsum dolor
          .product__price(data-sale="$100.00") $90.00
          .product__raiting
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star
            i.icon.icon-star-empty

      .subscribe
        h2.subscribe__title Newsletters
      .banner
        img(src="http://placehold.it/300x440")