footer.page-footer
  .page-footer__top
    .container
      .page-footer__about
        .logo.logo--footer
          a(href="index.html") Market<span>Supply</span>
        .page-footer__about-descr This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
        .pafe-footer__contacts
          ul.page-footer__list
            li: a(href="#") <i class="icon icon-location"></i> 0123 Main Road, Your City, NY 123456
            li: a(href="tel:0002345-6789") <i class="icon icon-phone"></i> (000) 2345-6789
            li: a(href="mailto:info@sdfsd.com") <i class="icon icon-mail"></i> info@sdfsd.com
      .page-footer__information
        h3.page-footer__title Information
        ul.page-footer__list
          li: a(href="#") Our Story
          li: a(href="#") Privacy &amp; Policy
          li: a(href="#") Terms &amp; Conditions
          li: a(href="#") Shiping & Delivery
          li: a(href="#") Careers
          li: a(href="#") FAQs
      .page-footer__social
        h3.page-footer__title Our social
        ul.page-footer__list
          li: a(href="#") <i class="icon icon-gplus"></i> Google+
          li: a(href="#") <i class="icon icon-pinterest"></i> Pinterest
          li: a(href="#") <i class="icon icon-vimeo"></i> Vimeo
          li: a(href="#") <i class="icon icon-instagram"></i> Instagram
        ul.page-footer__list
          li: a(href="#") <i class="icon icon-facebook"></i> Facebook
          li: a(href="#") <i class="icon icon-twitter"></i> Twitter
          li: a(href="#") <i class="icon icon-rss"></i> RSS
          li: a(href="#") <i class="icon icon-youtube"></i> YouTube
      .page-footer__opening
        .wrapper 
          h3.page-footer__title Opening Time
          ul.page-footer__list
            li <i class="icon icon-clock"></i> Monday-Friday: 08:30 am - 09:30 pm
            li <i class="icon icon-empty"></i> Sat - Sun: 09:30am - 10.00 pm        
        h3.page-footer__title Payment Option
        ul.page-footer__payment-list
          li: a: i.icon.icon-cc-mastercard
          li: a: i.icon.icon-cc-discover
          li: a: i.icon.icon-cc-amex
          li: a: i.icon.icon-cc-visa
          li: a: i.icon.icon-cc-stripe
          li: a: i.icon.icon-cc-diners-club
          li: a: i.icon.icon-cc-jcb

  .page-footer__bottom
    .container
      .page-footer__menu
        ul.page-footer__menu-list
          li.page-footer__menu-item
            a Sitemap
          li.page-footer__menu-item
            a Searchs
          li.page-footer__menu-item
            a Advance
          li.page-footer__menu-item
            a Contact Us
      .page-footer__copyright &copy; 2016 PSDFreebies | All rights Reserved


