header.page-header
  .page-header__top
    .container
      .left-column
        .logo
          a(href="index.html") Market<span>Supply</span>
      .right-column
        .user-block
          ul.user-block__list
            li.user-block__item
              a(href="#") My Account
            li.user-block__item
              a(href="#") WishList
            li.user-block__item
              a(href="#") My Cart
            li.user-block__item
              a(href="#") Checkout
            li.user-block__item
              a(href="#") Login
        form.search-form(action="/" method="GET")
          input.search-form__field(type="text" name="search" placeholder="Search here...")
          button.search-form__btn(type="submit")
            i.icon.icon-search
        .total
          a(class="btn btn--total" href="#")
            i.icon.icon-basket
          div.total__content Total<br><span>$600.00</span>
  .page-header__navbar
    .container
      p Навигационный бар