footer.page-footer
  .page-footer__top
    .container
      .page-footer__informtaion
        .logo
          a(href="index.html") Market<span>Supply</span>
      .social
        h3.social__title Our social
        ul.social__list
          li.social__item
            a(href="#") <i class="icon icon-gplus"></i> Google+
          li.social__item
            a(href="#") <i class="icon icon-pinterest"></i> Pinterest
          li.social__item
            a(href="#") <i class="icon icon-vimeo"></i> Vimeo
          li.social__item
           a(href="#") <i class="icon icon-instagram"></i> Instagram
        ul.social__list
          li.social__item
            a(href="#") <i class="icon icon-facebook"></i> Facebook
          li.social__item
            a(href="#") <i class="icon icon-twitter"></i> Twitter
          li.social__item
            a(href="#")  <i class="icon icon-rss"></i>  RSS
          li.social__item
            a(href="#") <i class="icon icon-youtube"></i> YouTube
  .page-footer__bottom
    .container
      div.page-footer__copyright &copy; 2016 PSDFreebies | All rights Reserved


