.btn {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: @red;
  color: #fff;
  transition: 0.25s;

  &:hover {
    background: darken(@red, 20%);
  }

  &--total {    
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  
}
